{% extends 'home.html' %}

{% block content %}
{% if user.is_authenticated %}
     <h2>Welcome, {{ user.username }}!</h2>
    <li><a href="{% url 'main:logout' %}">Logout</a></li>
{% endif %}
{% for film in filmovi %}

<div>
    <h4>{{ film.nazivFilma }}</h4>
    <p>Redatelj: {{ film.redateljFilma }}</p>
    <p>Godina izlaska: {{ film.godinaIzlaska }}</p>
    <p>Žanr: {{ film.zanr }}</p>
    <p>Preporuke:</p>
    <ul>
        {% for preporuka in film.preporukeFilma.all %}
            <li>{{ preporuka.nazivFilma }} ({{ preporuka.godinaIzlaska }})</li>
        {% empty %}
            <li>Nema preporuka.</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'main:recenzije' film.id %}"><button>View Reviews</button></a>
</div>
{% endfor %}
{% endblock %}
