<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ movie.nazivFilma }}</title>
</head>

<body>
    <h3><a href="/film">Nazad na početnu</a></h3>
    <h1>{{ movie.nazivFilma }}</h1>
    <p>Redatelj: {{ movie.redateljFilma }}</p>
    <p>Godina izlaska: {{ movie.godinaIzlaska }}</p>
    <p>Žanr: {{ movie.zanr }}</p>

    <h3>Preporuke</h3>
    <ul>
        {% for preporuka in movie.preporukeFilma.all %}
            <li><a href="{% url 'main:film_detalji' preporuka.id %}">{{ preporuka.nazivFilma }} ({{ preporuka.godinaIzlaska }})</a></li>
        {% empty %}
            <li>Nema preporuka.</li>
        {% endfor %}
    </ul>

    <h3>Kreiraj novu recenziju</h3>
    <form method="post" action="{% url 'main:film_detalji' movie.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Spremi</button>
    </form>

    <h3>Recenzije</h3>
    {% for recenzija in recenzije %}
    <div>
        <p>Autor: {{ recenzija.autorRecenzije }}</p>
        <p>Ocjena: {{ recenzija.ocjena }}</p>
        <p>Recenzija: {{ recenzija.recenzija }}</p>
        {% if user.is_authenticated and recenzija.autorRecenzije == user %}
            <form method="post" action="{% url 'main:edit_review' recenzija.id %}" style="display: none;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Spremi promjene</button>
            </form>
            <button class="edit-button" data-review-id="{{ recenzija.id }}">Uredi</button>
            
            <form id="delete-review-form-{{ recenzija.id }}" method="post" action="{% url 'main:delete_review' recenzija.id %}" style="display: none;">
                {% csrf_token %}
                <button type="submit">Izbriši</button>
            </form>
            <button class="delete-button" data-review-id="{{ recenzija.id }}">Izbriši</button>
        {% endif %}
    </div>
    {% endfor %}
</body>

<script>
    document.querySelectorAll('.edit-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var reviewId = this.getAttribute('data-review-id');
            var form = document.querySelector('form[action="{% url "main:edit_review" 0 %}"]'.replace('0', reviewId));
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        });
    });

    document.querySelectorAll('.delete-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var reviewId = this.getAttribute('data-review-id');
            var confirmation = confirm("Jeste li sigurni da želite izbrisat recenziju?");
            if (confirmation) {
                document.getElementById('delete-review-form-' + reviewId).submit();
            }
        });
    });
</script>

</html>
