{% extends 'home.html' %}

{% block content %}
{% if user.is_authenticated %}
     <h2>Welcome, {{ user.username }}!</h2>
    <li><a href="{% url 'main:logout' %}">Logout</a></li>
{% endif %}
{% for film in filmovi %}

<div>
    <h4><a href="{% url 'main:film_detalji' film.id %}">{{ film.nazivFilma }}</a></h4>
    <p>Redatelj: {{ film.redateljFilma }}</p>
    <p>Godina izlaska: {{ film.godinaIzlaska }}</p>
    <p>Žanr: {{ film.zanr }}</p>
    <p>Average Review Score: {{ film.Ocjena|default:0 }}</p>
</div>
{% endfor %}
{% endblock %}
