{% extends 'home.html' %}

{% block content %}
<h2>Moje recenzije</h2>
{% for recenzija in recenzije %}
    <div>
        <h4><a href="{% url 'main:film_detalji' recenzija.film.id %}">{{ recenzija.film.nazivFilma }}</h4></a>
        <p>Autor: {{ recenzija.autorRecenzije }}</p>
        <p>Ocjena: {{ recenzija.ocjena }}</p>
        <p>Recenzija: {{ recenzija.recenzija }}</p>
        <form method="post" action="{% url 'main:edit_review' recenzija.id %}" style="display: none;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Spremi promjene</button>
        </form>
        <button class="edit-button" data-review-id="{{ recenzija.id }}">Uredi</button>
        
        <form id="delete-review-form-{{ recenzija.id }}" method="post" action="{% url 'main:delete_review' recenzija.id %}" style="display: none;">
            {% csrf_token %}
            <button type="submit">Izbriši</button>
        </form>
        <button class="delete-button" data-review-id="{{ recenzija.id }}">Izbriši</button>
    </div>
{% endfor %}

<script>
    document.querySelectorAll('.edit-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var reviewId = this.getAttribute('data-review-id');
            var form = document.querySelector('form[action="{% url "main:edit_review" 0 %}"]'.replace('0', reviewId));
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        });
    });

    document.querySelectorAll('.delete-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var reviewId = this.getAttribute('data-review-id');
            var confirmation = confirm("Jeste li sigurni da želite izbrisat recenziju?");
            if (confirmation) {
                document.getElementById('delete-review-form-' + reviewId).submit();
            }
        });
    });
</script>

{% endblock %}